.flipgen-container{
    bottom: 3%;
    right: 3%;
    /* height: 100px;
    width: 100px; */
    object-fit: "contain";
    background-color: rgb(77, 245, 245);
    border-radius: 40%;
    cursor: pointer;
    position: fixed;
}
