.flipgen-container{
    bottom: 0;
    right: 0;
    position: fixed;
    height: 100px;
    width: 100px;
    background-color: rgb(224, 149, 199);
    margin: 20px;
    border-radius: 50%;
    cursor: pointer;
    padding: 20px;
}