.genpage-container{
    width: 100%;
    height: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgba(255, 255, 255, 0.332);
}
.genpage-header{
    margin-top: 20px;
    font-size: 50px;
}
.genpage-desc{
    margin: 10px;
    font-weight: 500;
    font-size: 18px;
}
#header2{
    color: rgb(255, 229, 0)
}
.genpage-dialog-outer{
    position: relative;
    width: 70vw;
    height: 60vh;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background-color:rgba(46, 231, 252, 0.416);
    overflow: auto;
    padding: 20px; 
    border-radius: 15px;
    border: 1px solid black;
}
.dialog-input{
    width: 60vw;
    margin: 5px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    display: flex;
}
.dialog-text{
    margin: 10px;
    width: 70vw;
    background-color: rgb(203, 232, 253);
}
.dialog-btn{
    margin: 10px;
    width: 20vw;
    border-radius: 10px;
    color: rgb(0, 219, 219);
}
#myImage{
    width: 250px;
    height: 250px;
    object-fit: contain;
    margin: 10px;
}
#myImage1{
    width: 250px;
    height: 250px;
    object-fit: contain;
    margin: 10px;
    border: 3px solid black;
}
.loader{
    min-height: 250px;
    min-width: 250px;
    margin: 40px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.genpage-recomend{
    width: 100vw;
    padding: 10px;
    height: auto;
    margin:0 auto;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center
}